.article {
	@include article-border;
}

.article-entry-meta {
	font-size: 0.8rem;

	span {
		margin-right: 0.5rem;
	}

	i {
		margin-right: 0.2rem;
	}

	a {
		text-decoration: none;
	}
}

.more-link {
	display: block;
	margin-top: 1rem;
}