@media only screen and (min-width: 40.063em) {
    .contact-form-wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 64.063em) {
    .contact-form-wrapper {
        max-width: 60%;
    }
}