/*
The main scss file
 */

/* =========================================================
   Definitions
   ====================================================== */
$dark-blue   : #2c3e50;
$vivid-blue  : #19b5fe;
$vivid-orange: #f89406;

$primary-font-family: 'Raleway', sans-serif;
$primary-font-weight: 600;
$title-font-family  : 'Patua One', cursive, sans-serif;

/* =========================================================
   Compass
   ====================================================== */
@import "compass";

/* =========================================================
   Mixin
   ====================================================== */
@import "mixin";

/* =========================================================
   Global
   ======================================================  */
@import "global";

/* =========================================================
   Navigation
   ======================================================  */
@import "nav";

/* =========================================================
   Article
   ======================================================  */
@import "article";

/* =========================================================
   Comment
   ======================================================  */
@import "comment";

/* =========================================================
   About me
   ======================================================  */
@import "about-me";

/* =========================================================
   Contact
   ======================================================  */
@import "contact";

/* =========================================================
   Search
   ======================================================  */
@import "search";